@charset "utf-8";

.clearfix{clear:both;zoom:1}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
*{padding: 0;margin:0px;}
body{background: #fff}
.caifu-mode6{width: 960px;margin: 50px auto;}
.caifu-mode6 .caifu-mode5divbox{border-radius: 5px;padding: 10px;border: 1px solid #264d73;margin-bottom: 20px;}
.caifu-mode5divbox .caifu-coloryel{color: #f0311f;line-height: 32px;}
.caifu-mode5divbox  .caifu-colorhei{color: #264d73;line-height:35px;}
.box{width: 960px;margin: 50px auto;}
.box .text{width: 100%;padding: 0}
.box .text li{list-style-type: none;width: 100%;margin: 10px 0;text-decoration: none;}
.text li a{text-decoration: none;}
.case_item {width: 960px;margin: 0 auto;}
.case_item .pull_deals {background:#f0311f; width:100px;border-radius: 5px;text-align:center;color: #fff;padding: 10px 0;cursor: pointer;}
.pull_box i{font-style: normal;line-height: 25px;height: 25px;display: inline-block;}